
#wrapper {
	width: 80%;
	margin: 0 auto;
    background: #e3e3e3;
    height: 80vh;
    box-shadow: 0 0 10px grey;
}

header {
    border-bottom: 5px solid #333;
    border-top: 5px solid #333;
}

div#logo {
    width: 4em;
    height: 4em;
    position: absolute;
    top: 2.4em;
    left: 2em;
    transform: rotatez(45deg);
}